body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /*background-color: #f1f1f1;*/
    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease-out;
    background-color: #fefefe;

}

button, button:focus, button:hover, button:active, a:hover, a:active, a:link, a, input, input:focus, input:active, textarea, textarea:hover, textarea:active, select, select:hover, select:active {
    outline: none !important;
}

div, a {
    transition: all 0.25s;
}

a {
    cursor: pointer;
}

a:hover, a:active, a:link {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

table > thead {
    background-color: #f1f1f1;
}

.table {
    margin-bottom: 0px;
}

input {
    display: inline-block
}



/**/

.big-title{
    color: #fefff9;
    padding:0px 5px ;
    border-left: 5px solid #f7eba3;
    /*margin-top: -80px;*/
    font-size: 50px;
}
.big-title>small{
    color: #f6eaa2
}


.tablet{
    min-height: 100px;
    background: url(../images/concrete_seamless.png);
    border-top:1px  solid #ffffff;
    border-left:1px  solid #ffffff;
    border-bottom:1px  solid #c9c9c9;
    border-right:1px  solid #c9c9c9;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #c9c9c9;
    padding:10px;
    text-shadow:1px 1px 0px #ffffff;
    margin-bottom: 20px;
}

.tablet hr{
    border-top:1px solid #c9c9c9;
    border-bottom: 1px solid #ffffff;
}
